.button {
    margin: 1rem;
    width: 10rem;
    border-radius: 10px;
    border: 1px solid;
    padding: 1rem;
    background-color: whitesmoke;
    color: gray;
    font-size: 1rem;
  }
  
.button:hover {
  background-color: white;
  border:1px solid;
  border-color: darkgoldenrod;
  cursor: pointer;
  color:black;
}